.footer {
    margin-top: 20px;
    background: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.logo img {
    height: 40px;
    padding: 10px;
}

.text {
    flex-grow: 1;
    color: whitesmoke;
    font-size: 12px;
}
